*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}


.nav-section{
    display: flex;
    justify-content: space-between;

}
.nav-title{
    font-size: 40px;
    font-weight: 700px;
    margin-top: 95px;
    margin-left: 120px;
}
.nav-title span{
    color: blueviolet;
}
.nav-details ul{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 95px;
    margin-right: 120px;
}
.nav-details ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
.nav-details .fa-solid{
    font-size: 30px;
}
.nav-details ul li a{
    text-decoration: none;
    color: black;
}
.cover{
    display: flex;
    align-items: center;
    gap: 50px;
    margin:120px;
}
.cover-detail{
    justify-content: space-evenly;
}
.cover-title{
    font-size: 40px;
    font-weight: 600px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.cover-description{
    font-size: 18px;
    font-weight: 400px;
    margin-right: 150px;
    margin-bottom: 30px;
}
.cover-detail .btn{
    padding: 10px 40px;
    border-radius: 20px;
    color: black;
    background-color:purple;
    font-size: 18px;
}
.cover-detail .btn .fa-solid{
    color: white;
    background-color:purple;
    margin-left: 5px;
}
.market-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin-left: 160px;
    margin-right: 160px;
    border: 2px solid gray; 
    border-radius: 20px; 
}



.collection-container{
    margin: 100px 160px;
}
.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.collection h4, h5{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.collection-title{
    text-align: center;
    margin-bottom: 80px;
    font-size: 35px;
    font-weight: 600;
}

.collection-rating{
    display: flex;
    gap: 5px;
}
.collection-rating .fa-solid{
    width: 12px;
    height: 12px;
    color: yellow;
}
.collection-rating p{
    margin-left: 10px;
}
.collection-description{
    gap: 10px;
}